@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Web beers</h1>
    <p>Your personal web application to collect your beers</a>.</p>
</div>
